.Foods {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.CategoryTitle{
    font-size: 10vh;
    text-shadow: 1px 3px 3px var(--color-naranja);
}

.firstSwiper {
    width: 100%; 
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
    z-index: 0;
}

.slide{
    margin: 0;
    color: var(--color-naranja);
        margin-bottom: 2vh;
}

.slider-image{
    width: 50%;
    height: 60vh;
    border-radius: 2vh;
}

.slider-image-cachapa{
    width: 50%;
    height: 60vh;
    border-radius: 2vh;
}

h2.eatTitle{
    margin: 0;
    margin-top: 1vh;
    font-size: 4vh;
}

.description{
    color: var(--color-negro);
    font-family: "Poppins", sans-serif;
    font-style: italic;
    padding: 0 4vh;
}

.price{
    margin: 0;
    margin-top: 1vh;
    font-size: 4vh;
    color: var(--color-naranja);
    margin-bottom: 2vh;
}


@media screen and (max-width: 600px) {
    .CategoryTitle{
        margin-top: 2vh;
    }
    
    .slider-image{
        width: 85%;
        height: 45vh;
        border-radius: 2vh;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
        object-fit: cover;
    }

    .slider-image-cachapa{
        width: 85%;
        height: 45vh;
        border-radius: 2vh;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 255, 255, 0.5);
    }

    .description{
        font-size: 2vh;
    }

    .price{
        margin: 0;
        margin-top: 1vh;
        font-size: 3vh;
        color: var(--color-naranja);
        margin-bottom: 2vh;
    }

    .Foods{
        margin-top: 9vh;
    }

}
