body {
    margin: 0 auto;
    font-family: 'Cactus', sans-serif;
  }



  @font-face {
    font-family: 'Cactus';
    src: url('../../assets/Fonts/Cactus.otf') format('opentype');
  }

nav {
    background-color: var(--color-negro);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    position: relative;
    
  }
  
  nav ul {
    display: flex;
    width:75%;
  }
  
  nav ul li {
    list-style: none;
    margin: -2vh 10vh;
    align-items: center;
    justify-content: space-between;
  }

  nav ul a{
    list-style: none;
    color: var(--color-blanco);
    text-decoration: none;
    font-size: 5vh;
    font-family: 'Cactus', sans-serif;
    margin-right: 2vh;
  }

.fabars{
  display: none;
}


  @media screen and (max-width: 500px) {
    nav {
        max-width: 500px;
        align-items: center;
        width: 100%;
        height: 8vh;
      }

      .navList{
        display: flex;
        padding: 0 !important;
        width: 100%;
        align-items: center;
        justify-content: left;
      }

      .fabars{
        display: block;
        color: white;
        font-size: 3vh;
      }

    nav ul li:not(:first-child) {
        display: none;
      }
    .welcome {
      color: var(--color-naranja);
      opacity: 0.9;
      text-shadow: 2px 2px 8px rgb(0, 0, 0);
      margin: 0 auto;
      font-size: 4vh;
    }

  
  }