footer.footer {
    width: 100%;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    display: grid;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.icon{
    text-align: center;
}

.footer a {
    color: var(--color-blanco);
    margin: 0 10px;
}

.footer p {
    margin: 0;
    text-align: center;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.reservas-footer{
    font-family: "Poppins", sans-serif;
    font-style: italic;
}